body{
    /* background-image: url("../img/bg.svg"); */
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.header{
    width:100%;
}
.header_container{
    margin: 10px;
    padding: 0px 10px;
    display:flex;
    justify-content: space-between;
    /* width: 100%; */
    /* background-color: blue; */
}
.header_container ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
   
}
.header_container ul li{
    padding: 0px 35px;
}
.devs{
    display:flex;
    align-items: center;
}
.devs a{
    width: 60px;
}
#imgdevs{
    width:90px;
}
.main{
    width: 100%;
    height: 641.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ;
}
.main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    color: rgba(41, 31, 31, 0.808);
}
#main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: ;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (max-width: 720px){
    .header_container{
        justify-content: center;
        margin: 0px;
    }
    .header_container ul{
        display: none
    }
    .menu-icon{
        width:100%;
        display: flex;
        /* align-items: flex-start; */
    }
    .menu-icon img{
        width: 35px;
        margin-left: 5px;
    }
}

@media(min-width:721px){
    .menu-icon{
        display:none;
    }
}
@keyframes example {
    0%   {left:0px; top:0px;}    
    50%  {left:0px; top:30px;}
    100% {left:0px; top:0px;}
}
