body{
    /* background-image: url("../img/bg.svg"); */
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
h2{
    font-family: 'Franklin Gothic Medium';
}
.header{
    width:100%;
    position: sticky;
    top: 0;
    background-color: rgba(173, 216, 730, 0.20);
    z-index: 5;
}
.header_container{
    margin: 10px;
    padding: 0px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center
}
.header_container ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;   
}
.header_container ul li{
    padding: 0px 35px;
}
.devs{
    display:flex;
    align-items: center;
}
.devs a{
    width: 60px;
}
#imgdevs{
    width:90px;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ;
}
.main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    color: rgba(41, 31, 31, 0.808);
}
#main{
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (max-width: 720px){
    .header_container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
    }
    .header_container ul{
        display: none
    }
    .menu-icon{
        display: flex;
    }
    .menu-icon img{
        width: 35px;
    }
}

@media(min-width:721px){
    .menu-icon{
        display:none;
    }
}
@keyframes example {
    0%   {left:0px; top:0px;}    
    50%  {left:0px; top:30px;}
    100% {left:0px; top:0px;}
}
