<nav class="nav-container">
  <h1 class="nav-nome">Jonatas Pinto</h1>   
  
  <!-- <div class="menu-icon">
      <img src="img/icon/icon-menu.svg">
  </div> -->

  <ul class="nav-list">
      <li class="devs">
          <a href="https://www.linkedin.com/in/jonatas-pinto-35111a164/" title="View my linkedin" target="_blank">
              <img src="https://img.icons8.com/ios/50/000000/linkedin.png">
          </a>
      </li>
                  
      <li class="devs">
          <a href="https://github.com/jonataspinto" title="View my Github" target="_blank">
              <img src="https://img.icons8.com/metro/60/000000/github.png">
          </a>
      </li>

      <li class="devs">
          <a href="http://estartandodevs.com.br" title="View DEVS Comunity" target="_blank">
              <img src="http://estartandodevs.com.br/img/fonte-branca2-min.png" id="imgdevs">
          </a>
      </li>
  </ul>
</nav> 